name: flutter_supabase_scaffold
description: A Flutter scaffold with Supabase support.

publish_to: "none" # Remove this line if you wish to publish to pub.dev

version: 1.0.0

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.17.0
  supabase_flutter: ^0.2.9
  flutter_svg: ^1.0.0
  image_picker: ^0.8.4+4
  flutter_dotenv: ^5.0.2
  email_validator: ^2.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0
  flutter_launcher_icons: "^0.9.2"

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/images/icon.png"

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/images/
    - .env
